host: http://localhost:8181/getmeta
image: http://example.com/image.png
color: ffa500
teaser: Listen live to [HonksFM](https://honks.goosegoo.se)
header: HonksFM
defaults:
  artist: Unknown
  title: Unknown
webhooks:
  server1:
    type: nowplaying
    url: https://discord.com/api/webhooks/webhook_here
  server2:
    type: log
    url: https://discord.com/api/webhooks/webhook_here